#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  left: 250px;
  width: 250px;
  height: 100vh;
  margin-left: -250px;
  overflow-y: auto;
  transition: all 0.5s ease;
}

#sidebar h2 {
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}


.dashboard-link {
  border-top: 1px solid #455a644d;
  border-bottom: 1px solid #455a6452;
  color: #102027;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
  display: block;
}

.dashboard-link:hover {
  background: none;
  color: #008000;
}

.dashboard-link i {
  margin-right: 16px;
}
