.nested-link {
  width: 70%;
  margin: auto;
  border-top: 1px solid #455a644d;
  border-bottom: 1px solid #455a6452;
  color: #102027;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
  display: block;
}

.nested-link:hover {
  background: none;
  color: #008000;
}

.nested-link i {
  margin-right: 16px;
}

.nested-routes{
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .nested-link{
    width: 100%;
  }
  .nested-routes{
    width: 90%;
    padding-top: 20px;
  }
}
